* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    /* background-color: rgb(39, 23, 65); */
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.container h1:first-child {
    text-align: center;
    letter-spacing: 1px;
}

.container .flex {
    display: inline-flex;
    width: 300px;
}

.container .flex input {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px 0 0 6px;
    flex-grow: 1;
    border: 0;
    outline: none;
}

.container .flex button {
    padding: 10px;
    border-radius: 0 6px 6px 0;
    border: 0;
    outline: none;
    cursor: pointer;
}

.container .shuffle {
    padding: 9px 10px;
    border-radius: 6px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
}

.container > h2 {
    margin: 20px 0;
    text-align: center;
    letter-spacing: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .grid {
    padding: 10px 0 30px;
}

.search-grid-style {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
}

.shuffle-grid-style {
    width: 550px;
    text-align: center;
}

.container .grid .meal-img {
    width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 3px;
    margin: 30px auto;
}

.container .grid .meal-img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 3px;
}

.container .grid h1 {
    margin-top: 0;
}

.container .grid .category {
    margin: 20px 0;
    padding: 30px;
    border-radius: 6px;
    line-height: 1.8;
    border: 2px dashed white;
    font-size: 22px;
    letter-spacing: 2px;
}

.container .grid .directions {
    line-height: 1.5;
    letter-spacing: 2px;
}

.container .grid .ingredients {
    padding: 30px 0;
}

.container .grid .ingredients h2 {
    margin-bottom: 20px;
}

.container .grid .ingredients span {
    display: inline-block;
    background-color: white;
    color: rgb(39, 23, 65);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px;
    margin: 4px;
    text-align: center;
    border-radius: 6px;
    text-transform: capitalize;
}

.container .grid .meal {
    border: 5px solid white;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    max-width: 300px;
}

.container .grid .meal:hover::before,
.container .grid .meal:hover::after {
    opacity: 1;
}

.container .grid .meal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.3s;
    opacity: 0;
}

.container .grid .meal::after {
    content: attr(data-meal-name);
    position: absolute;
    color: white;
    font-weight: bold;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 22px;
    z-index: 3;
    transition: 0.3s;
    opacity: 0;
    text-align: center;
    width: 100%;
}

.container .grid .meal img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 3px;
}

::-webkit-search-cancel-button {
    display: none;
}

@media (width < 769px) {
    .container {
        width: 750px;
    }

    .shuffle-grid-style, .search-grid-style {
        width: 300px;
    }

    .container .flex {
        width: 250px;
    }

    .directions p {
        font-size: 14px;
    }
}